@import "base";

#top_image {
    @include top_image("blog.jpg", 0.7);
}

#content {
    ol {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    strong { font-size: 20px; }
}

.tumblr_title {
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
}

.tumblr_body {
    line-height: 24px;
    font-size: 18px;
    margin-top:15px;
    margin-bottom:15px;
}

.section {
  padding-bottom:25px;
}
