{% import 'macros/html.html' as html %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {{ html.stylesheet_link_tag('html5-doctor-reset.css') }}
        <title>{% block title %}{% endblock %}</title>
        {% endblock head %}
    </head>
    <body>

        <div id="root">  <!-- Used for sticky footer -->

        <div id="top_image">
            <div id="header_background">
                <div id="header_content">
                    <a href="{{ url_for('index') }}">
                        <h1 id="logo">MIT Leadership Training Institute</h1>
                    </a>
                    {% include 'navbar.html' %}
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div id="content">{% block content %}{% endblock %}</div>

        <div class="clear"></div>

        <div id="root_footer"></div>  <!-- Used for sticky footer -->
        </div>  <!-- Used for sticky footer -->

        {% include 'footer.html' %}

    </body>
</html>
