@import "base";

#top_image {
    @include top_image("about.jpg");
}

#content {
    h1 {
        font-size: 2.0em;
        line-height: 1.2;
        strong {
            font-size: 1.3em;
        }
        text-align: center;
    }
}
