{% import 'macros.html' as html %}

<footer>
<div id="footer_wrapper">
    <address>
        <a href="{{ url_for('index') }}">MIT Leadership Training Institute</a>
        <br />
        {{ html.link('https://twitter.com/MIT_LTI', '@MIT_LTI') }} |
        {{ html.mailto('lti-directors@mit.edu') }}<br />
           84 Massachusetts Avenue, Room W20-549<br />
           Cambridge, MA 02139
    </address>

    <a id="mit-logo" href="http://web.mit.edu/">
        Massachusetts Institute of Technology
    </a>
    <div id="credits">Copyright &copy; 2013 MIT Leadership Training Institute.</div>
</div>
</footer>
