{% import 'macros.html' as html %}

{% extends 'base.html' %}


{% block title %}Leadership Training Institute{% endblock %}

{% block head %}
    {{ super() }}
    {{ html.stylesheet_link_tag('index.css') }}
{% endblock head %}

<!--https://giving.mit.edu/givenow/add-designation.dyn?designationId=2721288-->

{% macro question(question_text, answer, button_text, linked_page, id=none) -%}
{% if id %}
<div class="question_info" id="{{ id }}">
{% else %}
<div class="question_info">
{% endif %}
    <div class="question">
        {{ question_text }}
    </div>
    <div class="info">
        <div class="txt">
            {{ answer }}
        </div>
        <a class="button button-rounded button-flat-index"
           href="{{ url_for(linked_page) }}">{{ button_text }}</a>
    </div>
    <div class="clear"></div>
</div>
{%- endmacro %}

{% block content %}

<div id="index_content" class="clearfix">
{{ question(
    'What is the Leadership Training Institute?',
    '''
    The Leadership Training Institute is a program for high school students
    that helps develop leadership skills. Throughout our 12-week program, our
    students implement what they learn as they work to create a sustainable
    community service project.
    ''',
    'Learn More...',
    'about',
    'whatitis'
) }}

{{ question(
    'Why LTI?',
    '''
    LTI is a community of high school and college students who want to better
    themselves and the world around them. Through our pay-it-forward method,
    and mentoring program, we achieve this goal one step at a time.
    ''',
    'Philosophy',
    'about',
) }}


{{ question(
    'Who are we looking for?',
    '''
    We want students who are interested in learning lifelong leadership skills
    and making an impact on their community.  Our students come from varying
    backgrounds of leadership experience and different genders, races, and
    ethnicities.
    ''',
    'Apply',
    'join'
) }}

{{ question(
    'How can I join?',
    '''
    We are looking for MIT students who are interested in giving back by
    helping high school students build confidence, critical thinking, and
    leadership skills.
    ''',
    'Join',
    'join'
) }}

<div class="question_info legacy_links">
    <h3>Sponsored Links</h3>
    <h4>Short Term Rentals in Miami</h4>
    <p>If you are a leader in an organization or in your community that means you might find yourself traveling to meet with other organizational leaders. If you find yourself travelling to a certain location numerous times, think about short term rentals. You would be surprised how a <a href="https://roomorama.com/short-term-rentals/miami">click</a> on the internet could get you great deals on rental accommodations.</p>
    <h4>Encoders for Engineers</h4>
    <p>Leadership is about taking the time to help advance people around you.  Whether it be in class, in extracurricular activities or outside of education. MIT students learn from the engineering experts, everything from<a href="http://www.dynapar.com"> rotary encoders &amp; absolute encoders.</a> to linear slides.  </p>
</div>

<div class="clear"></div>

</div>

<!-- index_content -->

{% endblock content %}
