<h1>Unique Aspects of Our Program:</h1>

<ul>
<li>
It is a self-sustaining learning cycle. The program focuses on training
selected MIT students in the fall to become LTI mentors through an intensive
four day training session and retreat. The MIT mentors will then apply what
they have learned to our spring program. The spring program is for selected
high school students, who will be paired with MIT mentors. The LTI alumni
are invited back to serve as peer mentors for the abridged summer HSSP session and next spring.
</li>

<li>
Students create their own community service projects. A major component of the
LTI curriculum is the Final Project. Students are required to develop and
implement a community service project to address an issue in their community
that interests them. LTI mentors provide guidance and connections to MIT and
outside resources. The Executive Board provides financial support and
continuous feedback on the project. By the end of the spring program, students
must have developed a proposal and present their ideas at the Final Ceremony.
The organization keeps in touch with students after their graduation from LTI
to ensure the success of their projects.
</li>

<li>
Technology is integrated into the curriculum. Attending the best engineering
university in the world has opened our eyes to the importance of technology and
science in our everyday lives. Our students write their reflections on blogs
and create media presentations.
</li>

<li>
The curriculum is interactive, innovative, and incremental.The foundation of
our program is our curriculum and we strongly believe in creative pedagogy.
None of our activities are lectures. In fact, we encourage the students and
mentors to create the content within the themed framework of the day. Each
session builds off of last week's theme and reserves time for self-reflection
after each activity. Students delve into profound conversations, such as
personal obstacles we had to overcome and social issues.
</li>
</ul>
