<h1>MIT student?</h1>

<h2>Why should you join?</h2>
<p>
Make a difference by paying-it-forward and teach high school students invaluable skills they will use for the rest of their lives
Learn mentoring techniques through mentor training and session
Improve your ability to manage groups
Learn from other MIT students and high school students what it means to be an effective leader
Have fun!
</p>

<h2>Expectations</h2>
<ul>
    <li>retreat</li>
    <li>4 mentor training session during the fall from 1-3PM</li>
    <li>attendance at all spring sessions Sundays from 1-4PM</li>
    <li>monthly GBMs</li>
    <li>passion for leadership</li>
</ul>

<h2>Application</h2>
<p>
Applications for the Spring 2014 session are currently closed. Check back in
September of 2014 for applications for 2014-2015.
</p>
