{% import 'macros.html' as html %}

<h1>Our Program</h1>
<p>
The <strong>Leadership Training Institute</strong> is for students who want to
change the lives of others through their leadership. We challenge everyone to
affect their world and grow as leaders. Throughout the program our students
create, plan, and implement projects in their community. From creating bags to
helping newly adopted children adapt to their new homes to ...; students are
given the resources and knowledge to affect change.
</p>


<p>
As an organization, <strong>LTI</strong> believes in the value of pay it
forward.  Our students receive one-on-one mentoring while developing leadership
skills. They then design and implement their own project that targets an issue
they observe in their community.
</p>

<center>
{{ html.image_tag('flowchart.png') }}
</center>

<p>
The program is free to all high school students, and each student accepted into
the program receives $150 to work on their project. If the financial burden is
too great for a student to travel to MIT, LTI will fully subsidize the cost of
travel. Students must attend all twelve sessions to be a part of the program,
though two absences are allowed.
</p>
