{% import 'macros.html' as html %}

<h1>For High School Students</h1>
<h2>Why You Should Join</h2>
<ul>
    <li>Make a difference in your school or community by creating a sustainable community service project</li>
    <li>Develop invaluable life skills from MIT mentors</li>
    <li>Gain a sense of self</li>
    <li>Improve your abilities to communicate, work on a team, and think critically</li>
    <li>Obtain leadership skills</li>
    <li>Meet new people from around the Greater Boston area</li>
    <li>Have fun!</li>
</ul>

<h2>Expectations and Requirements</h2>
<ul>
    <li>Must be in high school (grades 9th to 12th)</li>
    <li>Create a service project over the course of the 12 week program</li>
    <li>Complete Homework, about 1 to 2 hours per week</li>
    <li>Meet on MIT campus from 1-4pm on Sunday's from February to May</li>
</ul>

<h2>Application</h2>
<ul>
    <li>Fill out the application {{ html.link(
        "https://docs.google.com/forms/d/1s1w7Q-GyT9UrWg-fjY2368JHhB35DFji1tluSy-_S9g/viewform",
        text="here")
    }}.</li>
    <li>Teacher recommendations are not required but preferred. Email recommendations (as a word doc, pdf, or text) to {{ html.mailto("lti-directors@mit.edu") }}, and to save the file name as <b>Lastname_Firstname_Rec</b> (ex. Washington_George_Rec).</li>
</ul>

