<div id="dates">
Important Dates
</div>
<div id="dates_txt">
    <ul>
        <li>
        February 3rd — Spring program starts. Check here for more info.
        </li>
    </ul>
</div>
<div id="news">
News
</div>
<div id="news_txt">
    <ul>
        <li>
        We are no longer accepting applications. Check back in June for more
        information about our 2013 Summer Session.
        </li>
        <li>
        28 high school students and 36 new mentors were accepted to LTI 2013.
        </li>
        <li>
        Check out our newsletter here
        </li>
    </ul>
</div>
<div class="clear"></div>
