<h1>Our Mission</h1>
The mission statement of the Leadership Training Institutes to create a sustainable community of diverse students and staff, and to promote the integration of leadership, service, and comprehension of self-identity into all aspects of their lives.


The mission of the Leadership Training Institute is to create a community of student leaders who actively and incessantly pursue initiatives that inspire them. We are commited to advancing the leadership abilities of both our mentors (collegiate members) and mentees (secondary school members). The Leadership Training Institute's hope is that we inform and grow student leaders who are able to lead initiatives to solve the pressing issues of the 21st century.
