<h1>High school student?</h1>
<h2>Why should you join?</h2>
<ul>
    <li>Make a difference in your school or community by creating a sustainable community service project</li>
    <li>Develop invaluable life skills from MIT mentors</li>
    <li>Gain a sense of self</li>
    <li>Improve your abilities to communicate, work on a team, and think critically</li>
    <li>Obtain leadership skills</li>
    <li>Meet new people from around the Greater Boston area</li>
    <li>Have fun!</li>
</ul>

<h2>Expectations/Requirements</h2>
<ul>
    <li>9-12</li>
    <li>Project</li>
    <li>HW, at most 2hrs per week, minimum 1hr</li>
    <li>Meet at MIT from 1-4 Sundays February-May</li>
</ul>

<h2>Requirements</h2>
<ul>
    <li>fill out application</li>
    <li>recommended teacher recommendation forms</li>
</ul>

<h2>Application</h2>
<p>
Applications for the Spring 2013 session are currently closed. Check back in
September for applications for the Spring 2014 year.
</p>

<p>
For more information, click here (link to Program page)
</p>

<p>
Apply Here
</p>
