<h1>LTI Mentors</h1>
<p>
LTI’s mentors are an important aspect of the LTI curriculum, and without their
presence, LTI would not be sustainable. All mentors are required to attend LTI
retreat as well as four training sessions during the Fall semester.  There are
currently two types of LTI mentors and each MIT student will be one of the two.
</p>

<h2>Activities Mentors</h2>
<p>
Activities mentors run the first part of the LTI spring session, which focuses
on developing leadership skills through a series of hands on activities and
active discussion.  Activities mentors are responsible for running activities
and facilitating open discussion with a large group of students (roughly 30).
They must be comfortable with working with large groups of people.  The
beginning sessions of LTI are more activities based as students familiarize
themselves with leadership skills they can apply to a project.
</p>

<h2>Final Project Mentors</h2>
<p>
Final Project Mentors run the second part of the LTI Spring session, which
focuses on developing students’ final projects. Final Project Mentors are
responsible for helping their students find a suitable final project that meets
the student’s interests, provide feedback on the students’ progress, and keep
in contact with their students throughout the week. Final project mentors work
with two to three students in order to provide more direct and individual
support.  They will also additionally help students with resume writing and
presentation skills. The later sessions of LTI are more project heavy, as
students work on their projects more in depth with their students.
</p>
